@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: #618264;
    --color-active: #79AC78;
    --color-text: #443434;
    --color-title: #000E01;
    --font-IBM: 'IBM Plex Sans Hebrew', sans-serif;
    --font-open_sans: 'Open Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --padding-header: 3.3rem 6.4rem;
    --padding-footer: 0 46rem;
}

*{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    font-size: 10px;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* TODO: modification du header */

header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-header);
}

header .logo{
    width: 11rem;
}

header .logo img{
    width: 100%;
    height: auto;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50rem;
}

header ul a {
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-title);
    transition: all .3s ease;
}

header ul a:hover {
    color: var(--primary-color);
}

.active{
    border-bottom: .2rem solid var(--color-active);
    color: var(--color-active);
}

header button{
    border: none;
    padding: 1rem 2rem;
    background: var(--primary-color);
    font-size: 1.7rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    border-radius: 5rem;
    transition: all .30s ease;
}

header button:hover{
    background: rgb(97, 130, 100, .8);
}

header button:active{
    transform: scale(.9);
}
/* fin de la modification du header */


/* TODO: modification du banner */

.francis{
    width: 100%;
    height: 50rem;
    display: flex;
    padding: var(--padding-header);
    justify-content: space-between;
    align-items: center;
}

.francis_actu{
    width: 55%;
    background: linear-gradient(to top, #000000c7, rgba(0, 0, 0, 0)), url(../images/francis.jpg) center top / cover;
    border-radius: 2rem;
    padding: 2rem;
    height: 100%;
    display: flex;
    align-items: end;
}

.francis_actu .text{
    color: #fff;
    border-left: .8rem solid var(--primary-color);
    padding: 0 1.6rem;
}

.francis_actu .text h2{
    font-size: 2.8rem;
    font-family: var(--font-IBM);
    margin: 0;
    margin-bottom: 1.5rem;
}

.francis_actu .text span{
    font-size: 1.6rem;
    font-weight: 100;
}

.francis_article{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
}

.francis_article h2{
    border-left: .8rem solid var(--primary-color);
    padding: .8rem;
    margin: 0;
}

.francis_article a{
    text-decoration: none;
    color: var(--color-text);
}

.francis_article_one{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 11rem;
}

.francis_article_one_img{
    width: 50%;
    height: 100%;
    background: no-repeat url(../images/fille.jpg) center top / cover;
    border-radius: 1rem;
}

.francis_article_one .box2 {
    background: no-repeat url(../images/police.jpg) center top / cover;
}

.francis_article_one .box3 {
    background: no-repeat url(../images/centreVille.jpg) center top / cover;
}

.francis_article_one_text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.francis_article_one_text h3{
    font-size: 1.9rem;
    margin: 0;
    line-height: 1.1;
}

.francis_article_one_text span{
    font-size: 1.2rem;
}
/* TODO: fin de modification du banner */